.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.city-input {
  min-width: 310px;
  padding: 10px;
  color: #888;
  background-color: #3a3c3d;
  border: none;
  border-radius: 7px;
}

.app-name {
  color: #3a3c3d;
  font-size: 36px;
}

@media screen and (max-width: 1023px) {
  .app-name {
    font-size: 20px;
  }
}

@media screen and (max-width: 520px) {
  .header {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .header-form,
  .city-input {
    display: flex;
    width: 90%;
    min-width: 0;
  }

  .app-name {
    font-size: 16px;
  }
}
