.tomorrow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  flex: 1 0 0;
  background-size: cover;
}

.tomorrow .temp {
  display: flex;
  height: 70px;
  font-size: 52px;
  font-weight: 600;
}

.tomorrow .icon {
  width: 70px;
  height: inherit;
  background-position-y: 0;
}

.tomorrow .description {
  margin-bottom: 0;
}

.min-max {
  margin-bottom: 10px;
}
