* {
  box-sizing: border-box;
  color: #eee;
}

p {
  margin: 0;
}

#root {
  background: rgb(48, 49, 50);
  background: linear-gradient(135deg, rgba(48, 49, 50, 1) 0%, rgba(17, 17, 17, 1) 100%);
}

.app {
  margin: 0 auto;
  padding-top: 40px;
  min-height: 100vh;
  max-width: 1125px;
  text-align: center;
}

.main {
  display: flex;
  min-height: 335px;
}

.secondary {
  display: flex;
}

.visible {
  display: block;
}

@media screen and (max-width: 1200px) {
  .app {
    margin: 0 5%;
  }
}

@media screen and (max-width: 1023px) {
  .app {
    padding: 30px 10px 0 10px;
  }

  .main {
    flex-direction: column;
  }

  .secondary {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 520px) {
  .app {
    padding: 10px;
  }

  .secondary {
    flex-direction: column-reverse;
  }
}
